/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 60rem;
  margin: auto;
  padding: 0 2rem;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}
/*max-width: 700px */
@media (max-width: 44em) {
  /*font-size: 9px */
  html {
    font-size: 56.25%;
  }
}
/*max-width: 500px */
@media (max-width: 30em) {
  html {
    /*font-size: 8px */
    font-size: 50%;
  }
}
